Debug/tests.exp
Genetics.opensdf
Genetics/Debug/CL.read.1.tlog
Genetics/Debug/CL.write.1.tlog
Genetics/Debug/Genetics.lastbuildstate
Genetics/Debug/cl.command.1.tlog
Genetics/Debug/link-cvtres.read.1.tlog
Genetics/Debug/link-cvtres.write.1.tlog
Genetics/Debug/link-rc.read.1.tlog
Genetics/Debug/link-rc.write.1.tlog
Genetics/Debug/link.3312-cvtres.read.1.tlog
Genetics/Debug/link.3312-cvtres.write.1.tlog
Genetics/Debug/link.3312-rc.read.1.tlog
Genetics/Debug/link.3312-rc.write.1.tlog
Genetics/Debug/link.3312.read.1.tlog
Genetics/Debug/link.3312.write.1.tlog
Genetics/Debug/link.command.1.tlog
Genetics/Debug/link.read.1.tlog
Genetics/Debug/link.write.1.tlog
Genetics/Debug/vc110.idb
docs/Class Outline.docx
ipch/tests-f3f13bd6/tests-af8a0b7f.ipch
tests/Debug/CL.read.1.tlog
tests/Debug/CL.write.1.tlog
tests/Debug/cl.command.1.tlog
tests/Debug/link-cvtres.read.1.tlog
tests/Debug/link-cvtres.write.1.tlog
tests/Debug/link-rc.read.1.tlog
tests/Debug/link-rc.write.1.tlog
tests/Debug/link.command.1.tlog
tests/Debug/link.read.1.tlog
tests/Debug/link.write.1.tlog
tests/Debug/tests.lastbuildstate
tests/Debug/tests.write.1.tlog
tests/Debug/vc110.idb
tests/tests.vcxproj.filters
